html,body,h1,h2,h3,h4,h5 {font-family: "Roboto", sans-serif;}

.w3-sidebar {
  z-index: 3;
  width: 240px;
  top: 43px;
  bottom: 0;
  height: inherit;
  background-color: #F4F5F7;
  text-align: left;
}
.w3-sidebar li{
  list-style-type: none;
  float: center;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 20px;
  
}
.w3-sidebar li #create-button-sidenav{
  background-color: #F18627;
  font-size: 18px;
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  line-height: 2.75em;
  text-align: center;
  color: white;

}
#sidebar-ul{
  text-align: left;
  padding-left: 20px;
  padding-right: 10px;

}


* {
  box-sizing: border-box;
}
#w3_main{
margin-left: 250px;
}

#rightMenu{
  display:none;
  right:0;
 
}
#rightMenu a li{
  margin-left: 10px;
  text-align: left;
  margin-right: 10px;
  padding: 12px 10px;
}


.sidenav-links{
  text-decoration: none;
  font-size: 17px;
 color: #818181;
}
.sidenav-links-active{
  
  color: #000000;
  text-decoration: none;
}

.sidenav-links-active:hover{
  
  color: #000000;
  text-decoration: none;
}

.sidenav-links:hover{
  color: #000000;
  text-decoration: none;
}



/* Icons Style*/

.fa-search,.fa-edit,.fa-upload,.fa-user-plus,.fa-download{
  font-size: 18px;
  color: dodgerblue;
}

.fa-close,.fa-trash-o{
  font-size: 18px;
  color: red;

}

.fa-inr{
  font-size: 18px;
  color: green;

}
.fa-eye{
  font-size: 28px;
  color: dodgerblue;
}





#main{
  background-color: #002C47;
  padding: 20px 20px;
  margin-top: 30px;
  border-radius: 15px;
  opacity: 0.9;
}
#main label,h1{
  color:#fff;
}
.header-links{
  text-decoration: none;
  height: 43px;
  margin-right: 10px;
  padding: 10px 10px;
  float: right;
  color: white;
}
.header-links-logo{
  text-decoration: none;
  height: 43px;
  float: left;
  margin-right: 10px;
  padding: 10px 10px;
  color: white;
}
.header-links-logo img{
 margin-right: 10px;

}
.header-links-logo:hover{
  text-decoration: none;
}
.header-links:hover{
  text-decoration: none;
  font-size: large;

}
.table-head{
  margin-left: 20px;
  margin-right: 20px;
}

.table-head p{
  font-size: x-large;
  font-weight: bold;
}



@media only screen and (max-width: 600px) {
  .w3-sidebar{
    top: 48px;
  }
  .header-links{
    text-decoration: none;
    height: 48px;
    margin-right: 10px;
    padding: 10px 10px;
    float: right;
    color: white;
  }
  .w3-bar .w3-bar-item {
    padding: 8px 8px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
}

  .col {
    flex-basis: auto;
  
  }

  .w3-sidebar li i{
    margin-right: 5px;
  }
  #form_content{
    padding: 10px 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
  }
}
@media only screen and (max-width: 500px) {
  .header-links{
    text-decoration: none;
    height: 48px;
    margin-right: 0px;
    margin-top: 10px;
    float: right;
    color: white;
  }

  .w3-bar .w3-bar-item {
    padding: 8px 8px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
}
  .w3-sidebar li i{
    margin-right: 5px;
  }
  
  .col {
    flex-basis: auto;
  
  }
  #form_content{
    padding: 10px 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
  }
  .header-links{
    text-decoration: none;
    height: 43px;
    margin-right: 10px;
    margin-top: 5px;
    padding: 3px 3px;
    float: right;
    color: white;
  }

}

@media only screen and (min-width: 768px) {
  .header-links{
    text-decoration: none;
    height: 48px;
    margin-right: 10px;
    padding: 10px 10px;
    float: right;
    color: white;
  }

  .w3-bar .w3-bar-item {
    padding: 8px 8px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
}
  .w3-sidebar{
    top: 48px;
  }

  .w3-sidebar li i{
    margin-right: 5px;
  }
  .col {
    flex-basis: auto;
  
  }
  #form_content{
    padding: 10px 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 350px) {
  .header-links{
    text-decoration: none;
    height: 25px;
    margin-right: 10px;
    margin-top: 5px;
    float: right;
    color: white;
  }

  .w3-bar .w3-bar-item {
    padding: 8px 8px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
}
  .w3-sidebar{
    top: 43px;
  }

  .w3-sidebar li i{
    margin-right: 5px;
  }
  .col {
    flex-basis: auto;
  
  }
  #form_content{
    padding: 10px 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
  }
}

@media only screen and (min-width: 1200px) {

  
  .col {
    flex-basis: 0;
  
  }
}



#form_content label{
  font-weight: bold;
  margin-top: 15px;

  
}
#form_content input[type=text],input[type=email],input[type=number]{
 padding-left: 10px;
 margin-top: 5px;
 
}

#form_content textarea{
  padding-left: 10px;
  margin-top: 5px;
}

#form_content select{
  padding-left: 10px;
  margin-top: 5px;
}

#form_content h5{
 margin-bottom: 20px;
 font-weight: bolder;
}

#modal_icon_X{
color: black;
font-size: small;
}

#details_table thead{

  font-size: small;
  font-weight: bold;
  text-align: left;
  color: black;
}

#details_table tbody{
  font-size: small;
  text-align: justify;
  color: black;
}

#details_table thead th{
 
  padding-top: 0px;
  padding-left: 30px;
  padding-bottom: 0px;
}
#details_table tbody td{
  margin-bottom: 15px;
  padding-top: 0px;
  padding-left: 30px;
  padding-bottom: 0px;
}


#add_balance_modal_body{
  padding-left: 30px;
  padding-right: 10px;
}

#add_balance_Modal label{

  margin-bottom: 5px;
  font-weight: bold;


}
#add_balance_input_text{
  padding-left: 10px;
  margin-top: 10px;
  margin-right: 20px;
}


#table-main-card{
  background-color: #F4F5F7;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 100px;
}


.side-nav-left{
  z-index: 3;
  width: 250px;
  top: 43px;
  padding-top: 5px;
  padding-right: 50px;
  float: none;
  height: 80%;
  background-color: #F4F5F7;
}



