html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}

.w3-sidebar {
  z-index: 3;
  width: 200px;
  top: 43px;
  bottom: 0;
  float: none;
  padding: 10px 10px;
  height: inherit;
  background-color: #F4F5F7;
}
* {
  box-sizing: border-box;
}
#w3_main{
margin-left: 200px;
}


.sidenav-links{
  text-decoration: none;
  padding-left: 20px;
  font-size: 15px;
 color: #818181;
}
.sidenav-links i{
  padding-top: 15px;
}

.sidenav-links:hover{
  color: #000000;
  text-decoration: none;
}

#main{
  background-color: #002C47;
  padding: 20px 20px;
  margin-top: 30px;
  border-radius: 15px;
  opacity: 0.9;
}
#main label,h1{
  color:#fff;
}
.header-links{
  text-decoration: none;
  height: 43px;
  margin-right: 10px;
  padding: 10px 10px;
  float: right;
  color: white;
}
.header-links-logo{
  text-decoration: none;
  height: 43px;
  float: center;
  margin-right: 10px;
  padding: 10px 10px;
  color: white;
}
.header-links-logo:hover{
  text-decoration: none;
}
.header-links:hover{
  text-decoration: none;
  font-size: large;

}
.table-head{
  margin-top: 150px;
  margin-left: 20px;
  margin-right: 20px;
}

.table-head p{
  font-size: x-large;
  font-weight: bold;
}
/* when screen size is small*/
#myOverlay{

}



#form_content{
  background-color: #002C47;
  padding: 20px 20px;
  margin-top: 0px;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 15px;
  color: white;
  opacity: 0.9;
}
#form_content p{
  font-size: xx-large;
   text-align: center;
}



