html,body,h1,h2,h3,h4,h5 {font-family: "Roboto", sans-serif;}

.w3-sidebar {
  z-index: 3;
  width: 200px;
  top: 43px;
  padding-top: 5px;
  bottom: 0;
  float: none;
  height: inherit;
  background-color: #F4F5F7;
}
.w3-sidebar li{
  list-style-type: none;
  padding-left: 20px;
  
}
.w3-sidebar li i{
  margin-right: 10px;
}
* {
  box-sizing: border-box;
}
#w3_main{
margin-left: 200px;
}


.sidenav-links{
  text-decoration: none;

  font-size: 17px;
 color: #818181;
}

.sidenav-links:hover{
  color: #000000;
  text-decoration: none;
}

#main{
  background-color: #002C47;
  padding: 20px 20px;
  margin-top: 30px;
  border-radius: 15px;
  opacity: 0.9;
}
#main label,h1{
  color:#fff;
}
.header-links{
  text-decoration: none;
  height: 43px;
  margin-right: 10px;
  padding: 10px 10px;
  float: right;
  color: white;
}
.header-links-logo{
  text-decoration: none;
  height: 43px;
  float: center;
  margin-right: 10px;
  padding: 10px 10px;
  color: white;
}
.header-links-logo:hover{
  text-decoration: none;
}
.header-links:hover{
  text-decoration: none;
  font-size: large;

}
.table-head{
  margin-top: 150px;
  margin-left: 20px;
  margin-right: 20px;
}

.table-head p{
  font-size: x-large;
  font-weight: bold;
}



@media only screen and (max-width: 600px) {
  .col {
    flex-basis: auto;
  
  }
  #form_content{
    padding: 10px 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .col {
    flex-basis: auto;
  
  }
  #form_content{
    padding: 10px 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
  }
}

@media only screen and (min-width: 1200px) {
  .col {
    flex-basis: 0;
  
  }
}


#form_content{
  background-color: #002C47;
  padding: 20px 20px;
  margin-top: 0px;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 15px;
  color: white;
  opacity: 0.9;
}
#form_content p{
  font-size: xx-large;
   text-align: center;
}

#form_content h6{
  color: #cc0000;
  text-align: end;
}

#modal_icon_X{
color: #fff;
opacity: 0.9;
}

#details_table{
  
}
#details_table thead{
  margin-top: 20px;
  background: linear-gradient(to left, #ff6666 0%, #cc0000 100%);
  font-style: oblique;
  font-size: large;
  font-weight: bold;
  color: white;
}

#details_table tbody{
  margin-top: 20px;
  background: linear-gradient(to right, #ffffff 0%, #0099ff 100%);
  font-style: oblique;
  color: black;
}




